{{ 'digifist2.css' | asset_url | stylesheet_tag }}
<link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
/>

<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

<style>
  swiper-container {
    width: 100%;
    height: 100%;
  }

  swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
</style>
<section class="digifistCase">
  <div class="container">
    <div class="img">
      <img src="{{ section.settings.image| img_url: 'master' }} }}" alt="">
    </div>
    <div class="collection">
      <div class="collection-desc">
        <h1>{{ section.settings.heading }}</h1>
        <p>{{ section.settings.desc }}</p>
        <a href="{{ section.settings.collection.url }}">{{ section.settings.linkText }}</a>
      </div>
      <!-- Slider main container -->
      <div class="swiper customSlider">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide">Slide 1</div>
          <div class="swiper-slide">Slide 2</div>
          <div class="swiper-slide">Slide 3</div>
          ...
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

        <!-- If we need scrollbar -->
        <div class="swiper-scrollbar"></div>
      </div>


      <div class="swiper customSlider">
       <div class="swiper-wrapper">
         <div class="swiper-container">
           {%for product in section.settings.collection.products%}
             <div class="swiper-slide">
               <div>
                 <img src="{{product.featured_media | img_url:'master'}}" alt="">
                 <p>{{ product.title }}</p>
                 <div class="">
                   <span>{{ product.price| money_with_currency }}</span>
                 </div>
               </div>
             </div>
           {%endfor%}
       </div>
      </div>
    </div>
  </div>
</section>
<script src="{{ 'swiper.js' | asset_url }}" defer="defer"></script>

{% schema %}
{
  "name": "DigiFist2",
  "tag": "section",
  "class": "section",
  "settings":
  [
    {
      "type": "text",
      "id": "heading",
      "default": "Everyday items, we have something to suit every occasion.",
      "label": "Heading"
    },
    {
      "type": "text",
      "id": "desc",
      "default": "At suspendisse augue lectus arcu, accumsan ut sit posuere vitae sit tincidunt semper eu proin leo gravida cursus.",
      "label": "Text"
    },
    {
      "type": "text",
      "id": "linkText",
      "default": "Shop all everyday items",
      "label": "Link Text"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    }
  ],
  "presets": [
    {
      "name": "DigiFist Section-2"
    }
  ]
}
{% endschema %}