{{ 'digifist2.css' | asset_url | stylesheet_tag }}
<link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
/>

<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

<style>
  @media screen and (max-width: 989px) {
    .collection .collection-desc a {
      color: {{ section.settings.mobileLinkColor }};
    }
  }
  @media screen and (min-width: 990px) {
    .collection .collection-desc a {
      color: {{ section.settings.linkColor }};
    }
    .collection .collection-desc h1 {
      color: {{ section.settings.headingColor }};
    }
  }
</style>
<section class="digifistCase">
  <div class="container">
    <div class="img">
      <img src="{{ section.settings.image| img_url: 'master' }} }}" alt="">
    </div>
    <div class="collection">
      <div class="collection-desc">
        <h1>{{ section.settings.heading }}</h1>
        <h2>{{ section.settings.mobileHeading }}</h2>
        <p>{{ section.settings.desc }}</p>
        <a href="{{ section.settings.collection.url }}">{{ section.settings.linkText }}</a>
      </div>
      <div class="swiper customSlider">
        <div class="swiper-wrapper">
          {%for product in section.settings.collection.products%}
            <div class="swiper-slide">
              <div>
                <a href="{{ product.url }}">
                  <img class="product_img" src="{{product.featured_media | img_url:'master'}}" alt="">
                  <p class="swiper_product_title">{{ product.title }}</p>
                </a>
                <div class="options">
                  <span class="product_price">{{ product.price| money_with_currency }}</span>
                  <div class="color_variants">
                   {%for variant in product.variants%}
                     <input type="radio" id="{{ variant.id }}">
                     <label class="changeLabel" variantImg="{{ variant.image | img_url:'master' }}" style="background-color: {{ variant.title | downcase }}" for="{{ variant.id }}"></label>
                   {%endfor%}
                  </div>
                </div>
              </div>
            </div>
          {%endfor%}
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-scrollbar"></div>
      </div>
  </div>
</section>
<script src="{{ 'swiper.js' | asset_url }}" defer="defer"></script>

<script>
  let labels = document.getElementsByClassName("changeLabel");
  for(let i=0;i<labels.length;i++){
    labels[i].addEventListener('click',function(e){
      let variantImg= e.target.getAttribute("variantimg");
      e.target.closest(".swiper-slide").querySelector(".product_img").src=variantImg;
    });
  }
</script>

{% schema %}
{
  "name": "DigiFist2",
  "tag": "section",
  "class": "section",
  "settings":
  [
    {
      "type": "text",
      "id": "heading",
      "default": "Everyday items, we have something to suit every occasion.",
      "label": "Heading"
    },
    {
      "type": "color",
      "id": "headingColor",
      "label": "Heading Color",
      "default": "#000000"
    },
    {
      "type": "text",
      "id": "mobileHeading",
      "default": "Everyday tops, we have something to suit every occasion.",
      "label": "Mobil Heading"
    },
    {
      "type": "color",
      "id": "mobileHeadingColor",
      "label": "Mobile Heading Color",
      "default": "#000000"
    },
    {
      "type": "text",
      "id": "desc",
      "default": "At suspendisse augue lectus arcu, accumsan ut sit posuere vitae sit tincidunt semper eu proin leo gravida cursus.",
      "label": "Text"
    },
    {
      "type": "color",
      "id": "descColor",
      "label": "Desc. Color",
      "default": "#000000"
    },
    {
      "type": "text",
      "id": "linkText",
      "default": "Shop all everyday items",
      "label": "Link Text"
    },
    {
      "type": "color",
      "id": "linkColor",
      "label": "Link Color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "mobileLinkColor",
      "label": "Mobile Link Color",
      "default": "#FFFFFF"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    }
  ],
  "presets": [
    {
      "name": "DigiFist Section-2"
    }
  ]
}
{% endschema %}