{{ 'digifist2.css' | asset_url | stylesheet_tag }}

<section class="digifistCase">
  <div class="container">
    <div class="img">
      <img src="{{ section.settings.image| img_url: 'master' }} }}" alt="">
    </div>
    <div class="collection">
      <div class="collection-desc">
        <h1>{{ section.settings.heading }}</h1>
        <p>{{ section.settings.desc }}</p>
        <a href="{{ section.settings.collection.url }}">{{ section.settings.linkText }}</a>
      </div>
      <div class="collection-slide">Slider</div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "DigiFist2",
  "tag": "section",
  "class": "section",
  "settings":
  [
    {
      "type": "text",
      "id": "heading",
      "default": "Everyday items, we have something to suit every occasion.",
      "label": "Heading"
    },
    {
      "type": "text",
      "id": "desc",
      "default": "At suspendisse augue lectus arcu, accumsan ut sit posuere vitae sit tincidunt semper eu proin leo gravida cursus.",
      "label": "Text"
    },
    {
      "type": "text",
      "id": "linkText",
      "default": "Shop all everyday items",
      "label": "Link Text"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    }
  ],
  "presets": [
    {
      "name": "DigiFist Section-2"
    }
  ]
}
{% endschema %}