{{ 'digifist.css' | asset_url | stylesheet_tag }}
<link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
/>


<div class="digifistSection">
  <div class="container">
    <div class="section_row">
      <div class="col">
        <div class="text">
          <h3>{{ section.settings.heading }}</h3>
          <a href="{{ section.settings.product.url }}" class="shop_btn">SHOP NOW <svg width="8" height="16" viewBox="0 0 8 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M0.227252 0.852252C0.446922 0.632583 0.803078 0.632583 1.02275 0.852252L7.77275 7.60225C7.99242 7.82192 7.99242 8.17808 7.77275 8.39775L1.02275 15.1477C0.803078 15.3674 0.446922 15.3674 0.227252 15.1477C0.00758251 14.9281 0.00758251 14.5719 0.227252 14.3523L6.5795 8L0.227252 1.64775C0.00758251 1.42808 0.00758251 1.07192 0.227252 0.852252Z" fill="currentColor"></path>
            </svg></a>
        </div>
        <div class="img">
          {% if section.settings.image2 != null or section.settings.image2 != blank   %}
            <img src="{{ section.settings.image2 | img_url: 'master' }}" alt="">
          {%- else -%}
          <img src="{{ section.settings.product.images[1] | img_url: 'master' }}" alt="">
          {%- endif -%}
        </div>
      </div>
      <div class="col">
        <div class="swiper mySwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              {% if section.settings.image2 != null or section.settings.image2 != blank   %}
                <img class="swiper-image" src="{{ section.settings.image2 | img_url: 'master' }}" alt="">
              {%- else -%}
                <img class="swiper-image" src="{{ section.settings.product.images[1] | img_url: 'master' }}" alt="">
              {%- endif -%}
              <div class="miniCard mobile">
                <a href="{{ section.settings.product.url }}" class="go_pdp">
                  <div>
                    <img class="product_img" src="{{ section.settings.product.images | last |  img_url:'master'  }}" alt="">
                  </div>
                </a>
              </div>
            </div>
            <div class="swiper-slide">
              {% if section.settings.image1 != null or section.settings.image1 != blank   %}
                <img class="swiper-image" src="{{ section.settings.image1 | img_url: 'master' }}" alt="">
              {%- else -%}
                <img class="swiper-image" src="{{ section.settings.product.images | first | img_url: 'master' }}" alt="">
              {%- endif -%}
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="img">
          {% if section.settings.image1 != null or section.settings.image1 != blank   %}
            <img src="{{ section.settings.image1 | img_url: 'master' }}" alt="">
          {%- else -%}
            <img src="{{ section.settings.product.images | first | img_url: 'master' }}" alt="">
          {%- endif -%}
          <div class="miniCard">
            <a href="{{ section.settings.product.url }}" class="go_pdp">
              <div class="product">
                <h6 class="product_title">{{ section.settings.product.title }}</h6>
                <span class="price">{{ section.settings.product.price | money_with_currency }}</span>
              </div>
              <div style="display: flex">
                <img class="product_img" src="{{ section.settings.product.images | last |  img_url:'master'  }}" alt="">
              </div>
            </a>
          </div>
        </div>
        <div class="text">
          <h3>{{ section.settings.desc }}</h3>
          <a href="{{ section.settings.product.url }}" class="more">Read More</a>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="{{ 'swiper.js' | asset_url }}" defer="defer"></script>

{% schema %}
{
  "name": "DigiFist",
  "tag": "section",
  "class": "section",
  "settings":
  [
    {
    "type": "text",
    "id": "heading",
    "default": "Smarten up your work look or throw on a blazer with jeans for the weekenssd",
    "label": "Text1"
  },
    {
      "type": "text",
      "id": "desc",
      "default": "At suspendisse augue lectus arcu, accumsan ut sit posuere vitae sit tincidunt semper eu proin leo gravida cursus",
      "label": "Text2"
    },
    {
      "type": "image_picker",
      "id": "image1",
      "label": "Image1"
    },
    {
      "type": "image_picker",
      "id": "image2",
      "label": "Image2"
    },
    {
      "type": "product",
      "id": "product",
      "label": "Product"
    }
  ],
  "presets": [
    {
      "name": "DigiFist Section"
    }
  ]
}
{% endschema %}