{{ 'digifist.css' | asset_url | stylesheet_tag }}


<div class="digifistSection">
  <div class="container">
    <div class="section_row">
      <div class="col">
        <div class="text">
          <h3>{{ section.settings.heading }}</h3>
          <a href="#" class="shop_btn">SHOP NOW <svg width="8" height="16" viewBox="0 0 8 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M0.227252 0.852252C0.446922 0.632583 0.803078 0.632583 1.02275 0.852252L7.77275 7.60225C7.99242 7.82192 7.99242 8.17808 7.77275 8.39775L1.02275 15.1477C0.803078 15.3674 0.446922 15.3674 0.227252 15.1477C0.00758251 14.9281 0.00758251 14.5719 0.227252 14.3523L6.5795 8L0.227252 1.64775C0.00758251 1.42808 0.00758251 1.07192 0.227252 0.852252Z" fill="currentColor"></path>
            </svg></a>
        </div>
        <div class="img">
          <img src="{{ section.settings.img1|  img_url:'master'  }}" alt="">
        </div>
      </div>
      <div class="col">
        <swiper-container class="slider">
          <swiper-slide><img src="{{ section.settings.img1|  img_url:'master' }}"/></swiper-slide>
          <swiper-slide><img src="{{ section.settings.img2|  img_url:'master' }}"/></swiper-slide>
        </swiper-container>
      </div>
      <div class="col">
        <div class="img">
          <img src="{{ section.settings.img2|  img_url:'master' }}" alt="">
          <div class="miniCard">
            <a href="" class="go_pdp">
              <div class="product">
                <h6 class="product_title">{{ section.settings.product_title }}</h6>
                <span class="price">{{ section.settings.product_price }}</span>
              </div>
              <div>
                <img class="product_img" src="{{ section.settings.product_image|  img_url:'master'  }}" alt="">
              </div>
            </a>
          </div>
        </div>
        <div class="text">
          <h3>{{ section.settings.desc }}</h3>
          <a href="#" class="more">Read More</a>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-element-bundle.min.js"></script>


{% schema %}
{
  "name": "DigiFist",
  "tag": "section",
  "class": "section",
  "settings":
  [
    {
    "type": "text",
    "id": "heading",
    "default": "Smarten up your work look or throw on a blazer with jeans for the weekenssd",
    "label": "Text1"
  },
    {
      "type": "image_picker",
      "id": "img1",
      "label": "Image1"
    },
    {
      "type": "text",
      "id": "product_title",
      "default": "Saffiano Leather Bag 2005",
      "label": "Product Title"
    },
    {
      "type": "text",
      "id": "product_price",
      "default": "199.95",
      "label": "Product Price"
    },
    {
      "type": "text",
      "id": "desc",
      "default": "At suspendisse augue lectus arcu, accumsan ut sit posuere vitae sit tincidunt semper eu proin leo gravida cursus",
      "label": "Text2"
    },
    {
      "type": "image_picker",
      "id": "img2",
      "label": "Image2"
    },
    {
      "type": "image_picker",
      "id": "product_image",
      "label": "Product İmage"
    },
    {
      "type": "product",
      "id": "product",
      "label": "Product"
    }
  ],
  "presets": [
    {
      "name": "DigiFist Section"
    }
  ]
}
{% endschema %}