{{ 'digifist.css' | asset_url | stylesheet_tag }}


<div class="digifistSection">
  <div class="container">
    <div class="section_row">
      <div class="col">
        <div class="text">
          <h3>{{ section.settings.heading }}</h3>
          <a href="#" class="shop_btn">SHOP NOW</a>
        </div>
        <div class="img">
          <img src="{{ section.settings.img1| image_url:master }}" alt="">
          <div class="miniCard">
            <a href="" class="go_pdp">
              <div>
                <h6>{{ section.settings.product_title }}</h6>
                <span class="price">{{ section.settings.product_price }}</span>
              </div>
              <div>
                <img src="{{ section.settings.product_img| image_url:master }}" alt="">
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="img">
          <img src="{{ section.settings.img2| image_url:master }}" alt="">
        </div>
        <div class="text">
          <h3>{{ section.settings.desc }}</h3>
          <a href="#" class="shop_btn">Read More</a>
        </div>
      </div>
    </div>
  </div>
</div>


{% schema %}
{
  "name": "DigiFist",
  "tag": "section",
  "class": "section",
  "settings":
  [
    {
    "type": "text",
    "id": "heading",
    "default": "Smarten up your work look or throw on a blazer with jeans for the weekenssd",
    "label": "Text1"
  },
    {
      "type": "image_picker",
      "id": "img1",
      "label": "Image1"
    },
    {
      "type": "text",
      "id": "product_title",
      "default": "Saffiano Leather Bag 2005",
      "label": "Product Title"
    },
    {
      "type": "text",
      "id": "product_price",
      "default": "199.95",
      "label": "Product Price"
    },
    {
      "type": "text",
      "id": "desc",
      "default": "At suspendisse augue lectus arcu, accumsan ut sit posuere vitae sit tincidunt semper eu proin leo gravida cursus",
      "label": "Text2"
    },
    {
      "type": "image_picker",
      "id": "img2",
      "label": "Image2"
    }
  ],
  "presets": [
    {
      "name": "DigiFist Section"
    }
  ]
}
{% endschema %}